@page "/stock/{symbol}"
@attribute [Authorize]
@using StockSim.Frontend.Models
@using StockSim.Frontend.Services
@using StockSim.Frontend.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@inject IStockService StockService
@inject ITokenService TokenService
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject ISearchService SearchService

<AuthorizeView>
    <Authorized>
        @if (Model != null) {
            <div id="wrapper">
                <h1 id="symbol">@Symbol</h1>
                <h2 class="text-white">@_name</h2>
                <h2 id="stock-count">@_userStockCount owned</h2>
                <div id="graph-pane-wrapper">
                    <GraphIntervals SelectInterval="@OnIntervalChange" />
                    <div id="line-graph-wrapper">
                        <LineGraph Labels="Model.DateTimes" Data="Model.Close" />
                    </div>
                    <div id="buy-sell-wrapper">
                        <Buy Symbol="@Symbol" OnBuy="@HandleBuy" OnFail="@HandleFail" />
                        <Sell Symbol="@Symbol" OnSell="@HandleSell" OnFail="@HandleFail" />
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(_message)) {
                    <div class="validation-message">@_message</div>
                }
            </div>
        }
    </Authorized>
</AuthorizeView>

<style>
    #wrapper {
        background-color: var(--main-background-colour);
    }
</style>
